{%extends 'base.html'%}

{%block title%}Página Inicial{%endblock%}

{%block main%}
    <h1>Seja Bem-Vindo!</h1>
    {% if user.is_authenticated %}
        <p>Olá, {{user.username}}</p>
        <a href="{%url 'people_list'%}"><button class="btn btn-primary">Lista de Clientes</button></a>
        <a href="{%url 'logout'%}"><button class="btn btn-danger">Sair</button></a>
    {% else %}
        <a href="{%url 'login'%}"><button class="btn btn-primary">Entrar</button></a>
    {% endif %}
{%endblock%}
