<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%load static%}
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <title>Document</title>
</head>
<body>
     <table>
         <th>ID</th>
         <th>Nome</th>
         <th>Sobrenome</th>
         <th>Idade</th>
         <th>Salário</th>

         {%for client in clients %}
            <tr>
                <td><a href="{% url 'people_update' client.id%}"><button>{{client.id}}</button></a></td>
                <td>{{client.name}}</td>
                <td>{{client.surname}}</td>
                <td>{{client.age}}</td>
                <td>{{client.salary}}</td>
                <td><a href="{% url 'people_delete' client.id%}"><button>Deletar</button></a></td>
            </tr>
         {%empty%}
            <p>Não há registros nessa tabela</p>
         {% endfor %}
    </table>
     <br>
     <a href="{% url 'people_new' %}"><button>Cadastrar Novo Cliente</button></a>
     <a href="{% url 'home' %}"><button>Página Inicial</button></a>
     <a href="{% url 'logout' %}"><button>Sair</button></a>
</body>
</html>