{%extends 'base.html'%}

{%block title%}Listagem{%endblock%}

{%block main%}
<h2 class="text-center">Lista de clientes</h2>
    <table class="table table-striped table-hover table-bordered">
        {% if not clients%}
            <p class="text-center table align-middle">Não há registros nessa tabela</p>
        {%else%}
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Idade</th>
            <th>Salário</th>
            <p>Clique no ID do cliente para editar suas informações.</p>
        {%for client in clients %}
            <tr>
                <td><a href="{% url 'people_update' client.id%}"><button class="btn btn-outline-primary">{{client.id}}</button></a></td>
                <td>{{client.name}}</td>
                <td>{{client.surname}}</td>
                <td>{{client.age}}</td>
                <td>R${{client.salary}}</td>
                <td><a href="{% url 'people_delete' client.id%}"><button class="btn btn-outline-danger">Deletar</button></a></td>
            </tr>
         {% endfor %}
        {% endif %}
    </table>
     <br>
<div class="text-center d-grid gap-2 d-md-block">
    <a href="{% url 'people_new' %}"><button class="btn btn-primary align-top">Cadastrar Novo Cliente</button></a>
    <a href="{% url 'home' %}"><button class="btn btn-secondary">Página Inicial</button></a>
    <a href="{% url 'logout' %}"><button class="btn btn-danger">Sair</button></a>
</div>

{%endblock%}