{%extends 'base.html'%}
{% load bootstrap %}


{%block title%}Cadastrar novo{%endblock%}

{%block nav%}
<div class="container-fluid">
    <span class="navbar-brand">Client Management</span>
    <div class="d-flex">
      <div class="navbar-nav">
          <ul class="navbar-nav list-group-horizontal justify-content-end">
              <li class="nav-item"><a class="nav-link active m-2" aria-current="page" href="{%url 'home' %}"><button class="btn btn-outline-light">Home</button></a></li>
              <li class="nav-item"><a class="nav-link m-2" href="{%url 'people_list' %}"><button class="btn btn-outline-light">Lista de Clientes</button></a></li>
              <li class="nav-item"><a class="nav-link danger m-2" href="{% url 'logout' %}"><button class="btn btn-danger">Sair</button></a></li>
          </ul>
      </div>
    </div>
  </div>
{%endblock%}

{%block main%}
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {{form|bootstrap}}
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
{%endblock%}